<!DOCTYPE html>
  <html lang="en">
  <head><title>Notes Brian Lin</title>
    <meta charset="utf-8" />
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="W6b7iROxMwj/LvScTGoIglG9usSeXqhund5RETkkYDIj0wkjT/BALlKedhZ/zHLzNgCHQqGm4L/ymBXYtlL0OQ==" />
  <link rel="stylesheet" media="all" href="https://www.juanitofatas.com/assets/application-e0c2eeddc86c8d8e4ae9210737a40549b217b0a4cfde87cc52f4ebe6197cab25.css" data-turbolinks-track="reload" />
</head>
<body><script>
</script>
<div class="container">
  <h1 id="juanitofatas">
    <a  href="../index.html">Notes</a>
  </h1>

  <ul class="tiny-post-list">
    <li class="tiny-post">
      <h2 class="tiny-post-title"><a href="/blog/2018/02/19/monotonic_time">Monotonic time</a>
      </h2>
      <p class="tiny-post-teaser">What is Monotonic time and what do we use it for.</p>
      <div class="meta">
        <time class="meta-date">Feb 19, 2018</time>
        <ul class="meta-tag-list">
          <li class="meta-tag-item"><a href="/tags/monotonic">monotonic</a></li>
          <li class="meta-tag-item"><a href="/tags/ruby">ruby</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
</body>
</html>